#container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
    height: max-content;
}